.add-block{
  width:20rem;
  padding:0.5rem 1rem;
}
.add-input{
  width:10rem;
  display: inline-block;
  border: 1rpx solid #dddddd;
}
.add-btn{
  width:7rem;
  margin-left: 0.9rem;
  display: inline-block;
  font-size:0.75rem;
  padding:1rpx;
}
