.item-block{
  width:18rem;
  margin:0.5rem 1rem;
  padding:0.5rem 0;
  border-bottom: 1rpx solid #dddddd;
}
.item-text-block{
  width:16.3rem;
  display: inline-block;
  vertical-align: middle;
}
.item-text{
  width:100%;
}
.item-icon{
  display: inline-block;
  vertical-align: middle;
}
